html {
  overflow: hidden;
  height: 100%;
}

body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#slideshow {
  height: 100%;
}

.image {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  display: none;
  text-align: center;
}

.button-container {
  opacity: 0.5;
  border-radius: 50%;
  background-color: gray;
  position: absolute;
  top: 50%;
  font-size: 100px;
  width: 100px;
  height: 100px;
}

.button-container__right {
  right: 5px;
}

.button-container img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}