<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <title>Photos</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ga}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', '{{ga}}');
  </script>


</head>

<body>
  <a href="#" onclick="null" id="prev" class="button-container">
    <img src="static_images/arrow-left.png">
  </a>
  <a href="#" onclick="null" id="next" class="button-container button-container__right">
    <img src="static_images/arrow-right.png">
  </a>
  <div id="slideshow">

    {{#each files}}
    <div class="image">
      <img src="images/{{this}}">
    </div>
    {{/each}}

  </div>

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/photos.js"></script>

  <script>
  </script>

</body>

</html>